$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
    height: 100%;
}

body {
    background: rgb(0, 6, 26);
    background: url(../images/background.jpg);
    background-repeat:repeat-y;
    background-size: 100% 100%;
    color: white;
    font-size: 20px;
    font-family: "Open-Sans", sans-serif;

}

nav {
    z-index: 1;
    position: fixed;
    top: 25%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 5px 15px;
}

nav ul li:hover, .active {
    transform: scale(2,4);
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    left: 34px;
    position: relative;
    text-decoration: underline;
}

.wrapper, .section {
    height: 100%;
}

.section {
    position: relative;
    width: 100%
}

.section header {
    text-align: center;
    margin-bottom: 45px;
    font-size: 45px;
}

.img {
    position: absolute;
    top: 40%;
    left: 42.5%;
    cursor: pointer;
}

.stats {
    position: absolute; 
    opacity: 0;
    top: 35%;
    right: 10%;
    padding: 5px;
    background: rgb(88, 85, 85);
    border-radius: 3px;
    box-shadow: 0px 0px 30px white;
    font-size: 16px;
}

.stats table tr td:first-child {
    font-weight: bold;
    padding-right: 15px;
}

.sun {
    top: 30%;
    left: 32%;
    width: 700px;
    height: 700px;
    background: url(../images/sun.png);
}

.mercury {
    top: 25%;
    left: 45%;
    width: 180px;
    height: 180px;
    background: url(../images/mercury.png);
}

.venus {
    top: 25%;
    left: 42.5%;
    width: 300px;
    height: 300px;
    background: url(../images/venus.png);
}

.earth {
    top: 25%;
    left: 42.5%;
    width: 300px;
    height: 300px;
    background: url(../images/earth.png);
}

.moon {
    top: 25%;
    left: 35%;
    width: 90px;
    height: 92px;
    background: url(../images/moon.png);
}

.mars {
    top: 25%;
    left: 44%;
    width: 230px;
    height: 230px;
    background: url(../images/mars.png);
}

.jupiter {
    top: 30%;
    left: 34%;
    width: 600px;
    height: 600px;
    background: url(../images/jupiter.png);
}

.saturn {
    top: 30%;
    left: 30%;
    width: 750px;
    height: 400px;
    background: url(../images/saturn.png);
}

.uranus {
    top: 25%;
    left: 39%;
    width: 400px;
    height: 400px;
    background: url(../images/uranus.png);
}

.neptune {
    top: 25%;
    left: 39%;
    width: 400px;
    height: 400px;
    background: url(../images/neptune.png);
}

.pluto {
    top: 25%;
    left: 45%;
    width: 150px;
    height: 150px;
    background: url(../images/pluto.png);
}


.small-star {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 12px white;
}

.star1 {
    top: 51%;
    left: 10%;
}

.animation {
    animation: showInfo 1s forwards;
    -webkit-animation: showInfo 1s forwards;
}

@keyframes showInfo {
    from {
        opacity: 0;
        -moz-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes showInfo {
    from {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}