$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
    height: 100%;
}

body {
    background: rgb(0, 6, 26);
    background: url(../images/background.jpg);
    background-repeat:repeat-y;
    background-size: 100% 100%;
    color: white;
    font-size: 20px;
    font-family: "Open-Sans", sans-serif;
    overflow: hidden;
}

nav {
    z-index: 1;
    position: fixed;
    top: 25%;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 5px 15px;
            margin-bottom: 10px;
        }
    }
}

nav ul li:hover, .active {
    transform: scale(2,4);
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    left: 34px;
    position: relative;
    text-decoration: underline;
}

a {
    color: #AACBE7;
}

.wrapper, .section {
    height: 100%;
}

.section {
    position: relative;
    width: 100%
}

.section header {
    text-align: center;
    margin-bottom: 45px;
    font-size: 45px;
}

.img {
    position: absolute;
    top: 40%;
    left: 42.5%;
    cursor: pointer;
}

.stats {
    position: absolute; 
    opacity: 0;
    top: 35%;
    right: 10%;
    padding: 5px;
    background: rgb(88, 85, 85);
    border-radius: 3px;
    box-shadow: 0px 0px 30px white;
    font-size: 16px;
}

.stats table tr td:first-child {
    font-weight: bold;
    padding-right: 15px;
}

.sun {
    top: 30%;
    left: 32%;
    width: 700px;
    height: 700px;
    background: url(../images/sun.png);
}
.sun-distance {
    position: relative;
    top: 33%;
    left: 20%;
}

.mercury {
    top: 25%;
    left: 45%;
    width: 180px;
    height: 180px;
    background: url(../images/mercury.png);
}

.mercury-temperature {
    position: relative;
    top: 33%;
    left: 20%;
}

.venus {
    top: 25%;
    left: 42.5%;
    width: 300px;
    height: 300px;
    background: url(../images/venus.png);
}

.venus-day{
    position: relative;
    top: 33%;
    left: 20%;
}

.earth {
    top: 25%;
    left: 42.5%;
    width: 300px;
    height: 300px;
    background: url(../images/earth.png);
}

.earth-moon{
    position: relative;
    top: 33%;
    left: 20%;
}

.moon {
    top: 25%;
    left: 35%;
    width: 90px;
    height: 92px;
    background: url(../images/moon.png);
}

.mars {
    top: 25%;
    left: 44%;
    width: 230px;
    height: 230px;
    background: url(../images/mars.png);
}

.mars-mountain{
    position: relative;
    top: 33%;
    left: 20%;
}

.jupiter {
    top: 30%;
    left: 34%;
    width: 600px;
    height: 600px;
    background: url(../images/jupiter.png);
}

.jupiter-bigger {
    position: relative;
    top: 30%;
    left: 15%;
}

.saturn {
    top: 30%;
    left: 30%;
    width: 750px;
    height: 400px;
    background: url(../images/saturn.png);
}

.saturn-moons{
    position: relative;
    top: 30%;
    left: 15%;
}

.uranus {
    top: 25%;
    left: 39%;
    width: 400px;
    height: 400px;
    background: url(../images/uranus.png);
}

.uranus-star{
    position: relative;
    top: 30%;
    left: 15%;
}

.neptune {
    top: 25%;
    left: 39%;
    width: 400px;
    height: 400px;
    background: url(../images/neptune.png);
}

.neptune-spaceship{
    position: relative;
    top: 30%;
    left: 15%;
}

.pluto {
    top: 25%;
    left: 45%;
    width: 150px;
    height: 150px;
    background: url(../images/pluto.png);
}

.pluto-mass{
    position: relative;
    top: 30%;
    left: 15%;
}

.animation {
    animation: showAnimation 1s forwards;
    -webkit-animation: showAnimation 1s forwards;
}

.info {
    opacity: 0;
    width: 250px;
    padding: 10px 15px;
    background: rgba(233, 233, 233, 0.42);
    box-shadow: 0 0 30px white;
}

.showInfo {
    animation: showInfo 1s 1s forwards;
    -webkit-animation: showInfo 1s 1s forwards;
}

@keyframes showAnimation {
    from {
        opacity: 0;
        -moz-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes showAnimation {
    from {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes showInfo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showInfo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}