$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
    height: 100%;
}

body {
    background: rgb(0, 6, 26);
    background: url(../images/background.jpg);
    background-repeat:repeat-y;
    background-size: 100% 100%;
    color: white;
    font-size: 20px;
    font-family: "Open-Sans", sans-serif;

}

.wrapper, .section {
    height: 100%;
}

.section {
    position: relative;
    width: 100%
}

.section header {
    text-align: center;
    margin-bottom: 45px;
    font-size: 45px;
}

.section-sun {
    top: 15%;
}

.sun {
    background: url(../images/sun.png);
}

.mercury {
    background: url(../images/mercury.png);
}

.img {
    position: relative;
    top: 25%;
    margin: 0 auto;
    width: 300px;
    height: 300px;    
}

.small-star {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 12px white;
}

.star1 {
    top: 51%;
    left: 10%;
}